.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio

CMakeListsPrivate.txt
cmake-build-*/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.idea/

*.asm
*.ihx
*.lk
*.lst
*.map
*.mem
*.rel
*.rst
*.sym